
<div class="container">
    <div class="row" style="background-color:#fff3cd">
        <div class="col-sm-4 vertical-align: middle;" >
            <a class="nav-link" href="/WeatherConditionsTable/Checkout">
                <button class="btn btn-primary btn-lg">Просмотр погодных архивов</button>
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-justify">
                <br>Выпадающий список годов автоматически создается по информации из БД.
                <br>Результат работы при выборе разных данных:
                <br>Ничего не задано - видно всё.
                <br>Задан только месяц - так нельзя.
                <br>Задан только год - видны только данные за весь год.
                <br>Заданы и год, и месяц - видны данные только за конкретный месяц конкретного года.
            </p>
        </div>
    </div>
    <div class="row" >
        <br/>
    </div>
    <div class="row" style="background-color:#fff3cd">
        <div class="col-sm-4">
            <a class="nav-link" href="/LoadArchive/LoadInfo">
                <button class="btn btn-primary btn-lg">Загрузка архивов</button>
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-justify">Архив погодных условий представляет собой файл Excel.
                <br>Мы можем загружать как один файл Excel, так и несколько за раз.
                <br>Если файл Excel не подлежит разбору, наше приложение не падает.
            </p>
        </div>
    </div>
</div>