@model WeatherConditionTableViewModel
<div class="container">
    <div class="col">
        <div class="row-md">
        <h3>Выбор даты</h3>
        </div>
        <form asp-action="Checkout" method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="Year">Год</label>
                <div class="row-md">
                    <select asp-for="Year" asp-items="ViewBag.SelectYears"></select></div>
            </div>
            <div class="form-group">
                <label asp-for="Month">Месяц</label>
                <div class="row-md">
                    <select asp-for="Month" asp-items="ViewBag.SelectMonths"></select>
                </div>
            </div>

            <div class="row-md">
                <input class="btn btn-success" type="submit" value="Отобразить таблицу"/>
                <br/>
                <br/>
            </div>
            <div class="row-md">
            @{
                if (Model != null)
                {
                    if (Model.Month != 0 && Model.Year == 0)
                    {
                        <h3>Нельзя вводить месяц без года!</h3>
                    }
                    else
                    {
                        if (Model.AllWeatherCondition.Any())
                        {
                            @Html.Partial("ConditionsTable", Model)
                        }
                        else
                        {
                            <h3>Нет погодных отчетов за данное время</h3>
                        }
                    }
                }
                else
                {
                    <h3>Введите время, чтобы просмотреть отчет</h3>
                }
            }
             </div>
        </form>
    </div>
</div>
